/* Estilos para la página de Contacto */
body {
    background-color: #f8f8f8;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #ebebeb;
    padding: 20px;
}

header img {
    width: 40px;
    height: auto;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #555;
}

section.contacto {
    padding: 40px;
}

.contacto-info,
.formulario-contacto {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: 0 0 48%;
}

.formulario-contacto button {
    background-color: #555;
}

/* Estilos para el mapa */
.mapa {
    border-radius: 10px;
    overflow: hidden;
}

/* Estilos para el footer */
footer {
    background-color: #ebebeb;
    padding: 40px;
}

footer a {
    text-decoration: none;
    color: #555;
}

footer input[type="email"] {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer button {
    background-color: #555;
}