/* Estilos para la página de Contacto */
.contacto {
    background-color: #f7f7f7;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.contacto h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contacto-info {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.contacto-info p {
    margin: 0;
}

.formulario-contacto {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

.formulario-contacto h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el mapa (debes agregar tu propio código para incorporar un mapa) */
.mapa {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.redes-sociales a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}

.boletin input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
}

.boletin button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boletin button:hover {
    background-color: #0056b3;
}
